<div mat-subheader>Files</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
	<mat-tree-node
		*matTreeNodeDef="let node"
		matTreeNodePadding
		matTreeNodePaddingIndent="30"
		matRipple
		class="mat-list-option"
		[class.mat-list-single-selected-option]="node.selected"
		(click)="toggleSelection(node)"
	>
		<div class="content">
			<mat-icon class="mat-icon-rtl-mirror">text_snippet</mat-icon>
			<div class="mat-list-text file">{{ node.name }}</div>
		</div>
	</mat-tree-node>
	<mat-tree-node
		*matTreeNodeDef="let node; when: hasChild"
		matTreeNodePadding
		matTreeNodePaddingIndent="30"
		matRipple
		class="mat-list-option"
		matTreeNodeToggle
	>
		<div class="content">
			<mat-icon class="mat-icon-rtl-mirror">folder</mat-icon>
			<div class="mat-list-text folder">{{ node.name }}</div>
		</div>
	</mat-tree-node>
</mat-tree>
